/*----- Link: Fonte -----*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*----- Corpo da página -----*/
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(/images/fundo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*----- Notas por linha -----*/
#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  padding: 4rem 0px 4rem 3.5rem;
  gap: 24px;
}

/*----- Notas -----*/
.note {
  height: 200px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  resize: none;
  font-size: 16px;
}

.add-note {
  height: 200px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 120px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background 0.2s;
}

/*----- Botão de adicionar nota -----*/
.add-note:hover {
  background: rgba(0, 0, 0, 0.2);
}