* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f65058ff;
  font-family: "Poppins", sans-serif;
}

#app {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  margin-top: 8rem;
  padding: 3rem;
  gap: 30px;
}

.note {
  height: 200px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0, 15);
  resize: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.add-note {
  height: 200px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 120px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background 0.2s;
}

.add-note:hover {
  background: rgba(0, 0, 0, 0.2);
}
