/*----- Links: Fonte e Icones -----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*----- Corpo da página -----*/
/*----- Corpo da página -----*/
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --grey: #2e2e2e;
  --pink: pink;
}

/*----- Keyboard -----*/
.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: var(--grey);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard-hidden {
  bottom: -100%;
}

/*----- Buttons -----*/
.keyboard-keys {
  text-align: center;
}

.keyboard-key {
  height: 45px;
  width: 6%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: #1d1d1d;
  color: #d86c8f;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard-key:active {
  background: rgba(255, 255, 255, 0.12);
}

/*----- Wide Buttons -----*/
.keyboard-key-wide {
  width: 12%;
}

/*----- Space Button -----*/
.keyboard-key-extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard-key-activatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.178);
  border-radius: 50%;
}

/*----- Caps-Lock active -----*/
.keyboard-key-active::after {
  background: #ffffff;
}

.keyboard-key-dark {
  background: rgba(0, 0, 0, 0.144);
}