/*----- Links: Fonte e Icones -----*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/*----- Corpo da página -----*/
body,
ul {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

/*----- Links do menu -----*/
a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}

/*----- Logo -----*/
#logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: default;
}

#logo:hover {
  background: none;
}

/*----- Config menu -----*/
#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e7e7e7;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

/*----- Botão lateral -----*/
#btn-mobile {
  display: none;
}

/*----- Responsividade ---*/
@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamb {
    border-top: 2px solid;
    width: 20px;
  }
  #hamb::after,
  #hamb::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamb {
    border-top-color: transparent;
  }
  #nav.active #hamb::before {
    transform: rotate(135deg);
  }
  #nav.active #hamb::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
